[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ultralytics = "*"
pytorch-forecasting = "*"
pyarrow = "*"
fastparquet = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
scikit-learn = "*"

[dev-packages]

[requires]
python_version = "3.9"
